.Cover_container {
  position: relative;
  width: 100%;
  height: max-content;
  border: 1px solid black;
}
.Cover_img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  padding-left: 70px;
  padding-right: 70px;
  z-index: -1;
}
.Cover_img {
  width: 100%;
  height: 100vh;
}
.User_name {
  position: absolute;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;
  top: 50vh;
  background-color: #242526;
  padding: 16px 12px 0px;
}
.User_name span {
  color: #e4e6eb;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
}
.User_name p {
  color: #2e89ff;
}
.profile_image img {
  width: 168px;
  height: 168px;
  border-radius: 50%;
}
.profile_image {
  position: absolute;
  top: 29%;
  left: 43%;
}
.image_icon {
  width: 40px;
  height: 40px;
  position: absolute;
  color: white;
}
.profile_icon {
  position: absolute;
  bottom: 35%;
  right: 25%;
}
@media all and (max-width: 500px) {
  .profile_image {
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .User_name span {
    color: #e4e6eb;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
  }
}
