.a{
    background-color:olive;
    display: inline-block;
    width: 25%;
    text-align: center;
    
}
.b{
    /*Relative is similar to static where the position is moved w.r.t the sibiling child*/
    display: inline-block;
    width: 25%;
    background-color:red;
    position: relative;
    text-align: center;
    position: relative;
    top: 10px;
}

.c{
    /*Absolute position positions the text w.r.t body or the next parent in 
    the body*/
    background-color:violet;
    display: inline-block;
    width: 25%;
    text-align: center;
    position: absolute;
    left: 1px;
    top: 0px;
    

}
.d{
    /*Fixed position positions the object w.r.t the viewpoint of the user*/
    background-color:aquamarine;
    display: inline-block;
    width: 25%;
    text-align: center;
    position:fixed;
    
}
body{
    background-color: bisque;
}
