.Box {
  width: 80%;
  height: 500px;
  border: 10px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bodyF {
  display: flex;
  justify-content: center;
  margin: 50px;
}
.image {
  width: 300px;
  height: 300px;
  margin: 30px;
}
.title {
  width: 40%;
  height: 50%;
  display: flex;
  margin: 50px;
  flex-direction: column;
  padding: 10px;
}
